html{
    background-image: url("../img/fondoPan0.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
}

#msjerror{
    color: red;
  
}

#saveD{
    display: flex;
}

.datosform{
    width: 20%;
    display: block;
    margin: auto;
}

img{
    width: 30%;
    display: block;
    margin: 0 auto;
}

.btnIng{
    /* width: 50%; */
    font-size: 2em;
   /*  align-items: center;
    text-align: center;
    height: 60px; */
    display: flex;
}

.logorepo{
    width: 50%;
    margin: 0 auto;
}

.container{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contTabla{
    width: 90%;
}

label{
    color: white;
    font-stretch: expanded;
    font-size: 1.2em;
}


h5{
    color: white;
    text-align: center;
    font-size: 1.8em;
}

.material-icons{
    color: white;
}

input{
    color: yellow;

}

span{
    color: yellow;
}

th{
    color: white;
}

tr{
    color: rgb(29, 27, 27);

}

thead th #nomcolum{
    width: 20%;
}



.card{
    background-color: rgba(255, 255, 255, 0.61)
}

@media only screen and (min-width: 320px){

    html{
        background-image: url("../img/fondoPan0.JPG");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    h5{
        color: white;
        text-align: center;
        font-size: 2.5em;
    }

    .datosform{
        width: 85%;
        display: block;
        margin: auto;
    }

    img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    
    

    .btnIng{
        /* width: 50%; */
        font-size: 1.2em;
       /*  align-items: center;
        text-align: center;
        height: 60px; */
        display: flex;
    }


    label{
    color: white;
    font-stretch: expanded;
    font-size: 1.2em;
}

.material-icons{
    color: white;
    font-size: 1.8em;
}
    

    .logorepo{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .container{
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    

    .contTabla{
        width: 80%;
    }

}


@media only screen and (min-width: 768px){

    html{
        background-image: url("../img/fondoPan0.JPG");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    h5{
        color: white;
        text-align: center;
        font-size: 2.5em;
    }

    .datosform{
        width: 85%;
        display: block;
        margin: auto;
    }

    img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    
    

    .btnIng{
        /* width: 50%; */
        font-size: 1.2em;
       /*  align-items: center;
        text-align: center;
        height: 60px; */
        display: flex;
    }


    label{
    color: white;
    font-stretch: expanded;
    font-size: 1.5em;
}

.material-icons{
    color: white;
    font-size: 1.5em;
}
    

    .logorepo{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .container{
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    

    .contTabla{
        width: 80%;
    }

}

