
#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    list-style: none;
    background: rgba(0, 0, 0, 0.938);
    left: -200px;
    margin-top: 0px;
    z-index: 1;
    transition: all 500ms linear;
}

#sidebar.active{
    left: 0;
}


#sidebar ul li {
    color:rgba(230, 230, 230, .9);
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);

}

#sidebar ul li:hover {
    background: rgba(161, 159, 159, 0.719);

}


.logo{
    display: block;
    margin: 0 auto;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 210px;
    top: 5px;
    cursor: pointer;
}

#sidebar .toggle-btn span{
    display: block;
    width: 20px;
    text-align: center;
    font-size: 10px;
    border: 1px solid yellow;
}

.sale{
    cursor: pointer;
}

.contTabla{
    display: flex;
    width: 100%;
}